## Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
import pycountry
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [2]:
nuclear = pd.read_csv('data/world_nuclear_energy_generation.csv')

In [3]:
nuclear.head()

        Entity  Year  electricity_from_nuclear_twh  share_of_electricity_pct
0  Afghanistan  2000                           0.0                       0.0
1  Afghanistan  2001                           0.0                       0.0
2  Afghanistan  2002                           0.0                       0.0
3  Afghanistan  2003                           0.0                       0.0
4  Afghanistan  2004                           0.0                       0.0

In [5]:
nuclear.query("Year==2020").sort_values(by="share_of_electricity_pct", ascending=False)

        Entity  Year  electricity_from_nuclear_twh  share_of_electricity_pct
3145    France  2020                        353.83                 67.112404
7687  Slovakia  2020                         15.44                 54.156437
8932   Ukraine  2020                         76.20                 51.559643
3867   Hungary  2020                         16.06                 45.990837
1386  Bulgaria  2020                         16.63                 41.429993
...        ...   ...                           ...                       ...
3670     Haiti  2020                          0.00                  0.000000
3751  Honduras  2020                          0.00                  0.000000
9600  Zimbabwe  2020                          0.00                  0.000000
2148   Curacao  2020                          0.00                       NaN
6101      Niue  2020                          0.00                       NaN

[244 rows x 4 columns]